<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Odyssée</title>
    <h1>Odyssée</h1>
  </head>
  <body>
    <form class="" action="http://localhost:5000/Odyssee/search" method="get" >

      <label for="budget">Budget :</label>
      <input type="text" id="budget" name="budget" required min="0">
      <br /><br />

      <label for="lieu">Lieu de départ :</label>
      <input type="text" id ="lieu" name='lieu' required minlength="2">
      <br /><br />

      <label for="date_aller">Date de départ :</label>
      <input type="date" name="date_aller" id="date_aller" required>
      <br /><br />

      <label for="date_retour">Date de retour :</label>
      <input type="date" name="date_retour" id="date_retour" required>
      <br /><br />

      <input type="submit" name="" value="Rechercher">
    </form>
    <a href="Odyssee/advanced_search">Recherche avancée</a>
    <p>
      <a href="Odyssee/login_offreur">login vendeur</a>
      <a href="Odyssee/register_offreur">register vendeur</a>
      <a href="/init_bd_vendeur">init</a>

    </p>
  </body>
</html>
