<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Odyssée - login</title>
    <h1>Odyssée</h1>
    <h2>Login</h2>
    <script type="text/javascript">
    encryptage = function() {
        var mdp = document.getElementById('mdp').value;
        console.log('wesh');
        mdp += 'a';
        return mdp;
      }
    </script>
  </head>
  <body>
    <p> {{message}} </p>
    <form class="" action="http://localhost:5000/login" method="post">

      <label for="pseudo">Entrez votre pseudo</label>
      <input type="text" name="pseudo" id="pseudo" required minlength="2" >
      <br /><br />

      <label for="mdp">Entrez votre mot de passe</label>
      <input type="password" name="mdp" id="mdp" required minlength="2">
      <br /><br />

      <button type="submit" name="connexion">Login</button>
      <!--onclick="document.getElementById('mdp').value = encryptage(document.getElementById('mdp').value)"-->
      <a href="http://localhost:5000/Odyssee">Accueil</a>
    </form>
  </body>
</html>
