<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Odyssée - sign up</title>
    <h1>Odysée</h1>
    <h2>Sign up</h2>
  </head>
  <body>
    <form class="" action="http://localhost:5000/sign_up" method="post">

      <label for="pseudo">Entrez votre pseudo</label>
      <input type="text" name="pseudo" id="pseudo" required minlength="2">
      <br /><br />

      <label for="email">Entrez votre addresse email</label>
      <input type="text" name="email" id="email" required minlength="2">
      <br /><br />

      <label for="mdp">Entrez votre mot de passe</label>
      <input type="password" name="mdp" id="mdp" required minlength="2">
      <br /><br />

      <button type="submit" name="sign_up">Sign up</button>
  </body>
</html>
